// ========================
// HiTMaP Nextflow Workflow
// ========================

manifest {
    author = 'Michael Geaghan'
    name = 'HiTMaP_workflow'
    description = 'A Nextflow workflow for running HiTMaP.'
    homePage = 'https://github.com/Garvan-Data-Science-Platform/HiTMaP_workflow'
}

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion = '!>=20.07.1'

// Default workflow parameters
params {
    help             = false
    mode             = 'full'
    config           = false
    datafile         = false
    ibdfile          = false
    fasta            = false
    rotationfile     = false
    rankfile         = false
    candidates       = false
    imsdata          = false
    threads          = 1
    hitmap_container = false
    outdir           = 'results'
    dryrun           = false
    whoami           = 'whoami'.execute().text.trim()
    memory           = 16
    disk             = 100
    time             = [
        candidates: '1h',
        ims: '1h',
        plot: '1h'
    ]
}

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Enable profiles for different compute infrastructures or set up
profiles {
    // standard    { includeConfig "config/standard.config" }
    // gadi        { includeConfig "config/gadi.config" }
    // dice        { includeConfig "config/dice.config" }
    // gcp         { includeConfig "config/gcp.config" }
    docker      { includeConfig "config/docker.config" }
    // test        { includeConfig "config/test.config" }
}

// Set default resources for each process
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process
process {
    // Set default resources for all processes
    cpus = 1
    memory = params.memory.toInteger().Gb
    disk = params.disk.toInteger().Gb
    cache = 'lenient'

    // Set process specific resources
    // See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process
    // DEMO CODE: DELETE FOR YOUR OWN WORKFLOWS
    // withName: 'check_input' {
        // executor = 'local'
    // }
}

// Produce a workflow diagram
// See https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/runInfo/dag.svg"
}

// Output resource and runtime reports for a workflow run
// See https://www.nextflow.io/docs/latest/tracing.html
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/runInfo/report.html"
}

// Output an html timeline report
// See https://www.nextflow.io/docs/latest/tracing.html#timeline-report
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/runInfo/timeline.html"
}

// Output process execution trace file
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/runInfo/trace.txt"
}