params {
    singularityCacheDir = ''
}

singularity {
    enabled = true
    autoMounts = true
    autoCleanUp = true
    cacheDir = params.singularityCacheDir ? params.singularityCacheDir
        : "/home/${params.whoami}/.nextflow/singularity"
    libraryDir = params.singularityCacheDir ? params.singularityCacheDir
        : "/home/${params.whoami}/.nextflow/singularity"
    temp = "/home/${params.whoami}/.nextflow/singularity/temp"
}

process {
    module = 'singularity'
    cache = 'lenient'
    executor = 'sge'
    scratch = true
    queue = { task.time.toHours() > 8 ? "long.q" : "short.q" }
    memory_per_cpu = { Math.ceil(task.memory.toGiga() / task.cpus).toInteger() }
    disk_per_cpu = { Math.ceil(task.disk.toGiga() / task.cpus).toInteger() }

    clusterOptions = { "-pe smp ${task.cpus} -l tmp_requested=${task.disk_per_cpu} -l mem_requested=${task.memory_per_cpu}" }
}
